.AddPost-InputBody {
  display: flex;
  align-items: center;
  margin: 10px;
  max-width: fit-content;
}

.AddPost-Header {
  font-weight: bold;
  margin: 20px;
  max-width: fit-content;
}

.AddPost-Container {
  max-width: fit-content;
  margin: 10px;
}
